<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/reset.css" />
    <style is:global lang="scss">
      @use '../style.scss';
    </style>
  </head>
  <body>
    <h1>aaAstro</h1>
    <div class="asd">asd</div>
    <div class="asdasd">dlsllasd</div>
  </body>
</html>
