<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/reset.css" />
    <style is:global lang="scss">
      @use "../style.scss";
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="section section_1">
        <div class="text">
          지구를 위한 첫걸음
          <br />
          오늘의 기부가 내일의 환경을 만듭니다
        </div>
        <img src="/images/section_1_2.svg" alt="굿사이클링 캠페인" />
        <img src="/images/section_1_3.svg" alt="100,000 점" class="poa poa_3" />
        <a href="#">
          <img
            src="/images/section_1_4.svg"
            alt="물품 기부하고 한정 키링받기"
            class="poa poa_4"
          />
        </a>
        <img src="/images/section_1_5.svg" alt="사람" class="poa poa_5" />
        <img src="/images/section_1_6.svg" alt="사람" class="poa poa_6" />
      </div>
      <div class="section section_2">
        <div class="top_text">
          <div class="title">
            지구를 깨우는
            <br />
            <span>10만 점</span>기부 챌린지!
          </div>
          <div class="title_sub">
            우리의 기부가 지구를 되살립니다!
            <br />
            10만 점의 물품이 모이면 지구가 푸르게 변해요!
          </div>
        </div>
        <img src="/images/section_2_1.svg" alt="현재 기부된 물품" />
        <div class="text_2">
          <span>전체 목표 달성 시</span>
          <br />
          기부자 전원에게 <span>디지털 감사카드</span>가 발송됩니다
          <br />
          함께 기부하고, 지구를 지키는 특별한 경험을 나누세요!
        </div>
      </div>
      <div class="section section_3">
        <div class="title">
          굿윌스토어 물품 기부
          <br />
          이렇게 진행해주세요!
        </div>
      </div>
    </div>
  </body>
</html>
