@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ONE-Mobile-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YdestreetB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@font-face {
  font-family: "JalnanGothic";
  src: url("../fonts/JalnanGothicTTF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("../fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  src: url("../fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  vertical-align: top;
  -webkit-user-drag: none;
  user-select: none;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.custom-btn {
  position: relative;
  padding: 10px 24px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: inherit;
    transform: translate3d(3px, 3px, -1px);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  &:active {
    box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    transform: translate(3px, 3px);
    &::before {
      transform: translate3d(0, 0, -1px);
    }
  }
  &-2 {
    &::before {
      background: #fff;
      border: 1px solid #000;
    }
  }
}

.swiper-wrapper {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}
.section {
  .title {
    font-family: "YdestreetB", sans-serif;
  }
}

.section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 420px;
  padding-top: 40px;
  background-image: url("../images/section_1_1_2_m.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 10px;
    bottom: 12px;
    left: 16px;
    right: 16px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(270deg, #91d7ff 0%, #1363df 100%);
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    font-family: "GmarketSans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 15.4px */
    span {
      display: block;
      margin-top: 3px;
    }
  }
  .text {
    margin-top: 7px;
    color: #000;
    text-align: center;
    font-family: "GmarketSans";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 14px */
    &_sub {
      margin-bottom: 8px;
      padding: 6px 12px;
      color: #000;
      text-align: center;
      font-family: "GmarketSans";
      font-size: 8px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 8.8px */
      border-radius: 50px;
      border: 0.5px solid #000;
      background: #fff;
      span {
        display: block;
        margin-top: 3px;
      }
    }
  }
  .poa {
    position: absolute;
    &_3 {
      top: 160px;
      right: 50px;
      .score {
        display: flex;
        gap: 9px;
        position: absolute;
        left: 50%;
        top: 73%;
        transform: translate(-50%, -50%);
        font-family: "PartialSansKR-Regular", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 110%;
        span {
          width: 136px;
          color: #00a856;
          font-size: 20px;
          font-weight: 400;
          line-height: 110%;
          letter-spacing: 2.4px;
        }
      }
    }
    &_4 {
      position: absolute;
      bottom: 3px;
      right: 16px;
      transition: all 0.2s;
      z-index: 10;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.section_2 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fcfcfc;
  text-align: center;
  .text_1 {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #000;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
  }
  .text-2 {
    color: #000;
    text-align: center;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
    span {
      font-size: 12px;
      font-weight: 800;
    }
  }
  .gauge {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
    text-align: center;
    font-family: "YdestreetB", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 14.3px */
    .text {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .gauge-inner {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      height: 12px;
      margin-top: 6px;
      border-radius: 999px;
      border: 1px solid #000;
      background: #fafafa;
    }
    .gauge-bar {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 999px;
    }
  }
  .bg-img {
    width: 100%;
    height: 360px;
    margin: 0 auto;
    padding-top: 224px;
    padding-left: 9px;
    padding-right: 9px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &-1 {
      background-image: url("../images/section_2_1_m.svg");
      .gauge-bar {
        background: #6e5a3d;
      }
    }
    &-2 {
      background-image: url("../images/section_2_2_m.svg");
      .gauge-bar {
        background: #80a97d;
      }
    }
    &-3 {
      background-image: url("../images/section_2_3_m.svg");
      .gauge-bar {
        background: #81c2e8;
      }
    }
    &-4 {
      background-image: url("../images/section_2_4_m.svg");
      .gauge-bar {
        background: #00a856;
      }
    }
    .box {
      width: 100%;
      margin: 0 auto;
      padding: 10px 0 14px;
      border-radius: 18px;
      border: 1px solid #000;
      background: rgba(252, 252, 252, 0.8);
    }
  }
  img {
    position: relative;
    z-index: 1;
    max-width: 100%;
  }
  .img-wrap {
    position: relative;
    margin: 0 auto;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 68px;
      left: 28px;
      width: 0;
      height: 39px;
      background-color: #ffe267;
      transition: width 1s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    }
  }
  .aos-animate {
    &.img-wrap {
      &::before {
        width: 104px;
      }
    }
  }
}

.section_3 {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/section_3_17_m.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  .donate-title {
    margin-bottom: 15px;
    font-family: "YdestreetB", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 33.6px */
    &-2 {
      margin-top: 30px;
      margin-bottom: 20px;
      color: #000;
      font-family: "YdestreetB", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 26.4px */
    }
  }
  .donate-steps {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .donate-notice {
    width: 100%;
    margin: 24px auto 24px;
    padding: 12px 6px;
    background: #f7f7f7;
    text-align: left;
    letter-spacing: -0.2px;
  }
  .notice-item {
    color: #777;
    font-family: "GmarketSans";
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 12.8px */
  }
  .donate-categories-swiper {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
    .swiper-button-next {
      top: 70%;
      right: 0;
    }
    .swiper-button-prev {
      top: 70%;
      left: 0;
    }
  }
  .custom-btn {
    display: inline-flex;
    padding: 10px 34px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #000;
    background: #93cff2;
    color: #000;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 14.4px */
    &:active {
      background: #6ca5c7;
    }
  }
}

.section_4 {
  padding-top: 50px;
  padding-bottom: 112px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("../images/section_4_1_m.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  .quiz-step {
    position: relative;
    width: 100%;
    height: 454px;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid #000;
    box-shadow: 3px 3px 0px #000;
    button,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 70px;
      left: 50%;
      transform: translateX(-50%);
      width: 180px;
      height: 38px;
      border-radius: 12px;
    }
    &-1 {
      position: relative;
      background: #fff2af;
      background-image: url("../images/section_4_2_m.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #ffec8e;
      .button-inner {
        display: flex;
        justify-content: center;
      }
      button {
        position: relative;
        transform: translate(0, 0);
        inset: 0;
      }
    }
    &-2 {
      padding: 30px 16px 60px;
      background-color: #fff;
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: #000;
        font-family: "YdestreetB", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 15.6px */
        .img {
          width: 42px;
          img {
            width: 100%;
          }
        }
      }
      .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 40px;
        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 130px;
          padding: 8px;
          color: #000;
          text-align: center;
          font-family: "GmarketSans";
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 15px */
          border-radius: 8px;
          border: 1px solid #000;
          background: #fdf6da;
          box-shadow: 2px 2px 0px 0px #000;
          transition: all 0.2s;
          &:active {
            background: #01aa71;
            box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.65) inset;
            color: #fff;
          }
        }
      }
    }
    &-3 {
      padding-top: 62px;
      background-color: #fff;
      &.yellow {
        background-color: #fee26e;
      }
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        color: #000;
        text-align: center;
        font-family: "YdestreetB", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        img {
          width: 30px;
        }
      }
      .content {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
        color: #000;
        text-align: center;
        font-family: "GmarketSans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 19.2px */
      }
      a,
      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        background: #005bac;
        color: #eefcff;
        font-family: "GmarketSans";
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%; /* 13.2px */
        box-shadow: 4px 4px 0px 0px #000;
        transition: all 0.2s;
        &:active {
          background: #004e94;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
        }
      }
    }
    &-4 {
      padding-top: 164px;
      background-color: #fff;
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #000;
        font-family: "YdestreetB", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 26.4px */
        img {
          width: 30px;
        }
      }
      .content {
        font-family: "ONE-Mobile-Regular", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 160%;
        margin-top: 56px;
        margin-bottom: 46px;
      }
      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #000;
        background: #d5f0ff;
        color: #1363df;
        font-family: "GmarketSans";
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%; /* 13.2px */
        box-shadow: 4px 4px 0px 0px #000;
        transition: all 0.2s;
        &:active {
          background: #aec7d6;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
        }
      }
    }
    &-5 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #fff;
      .title {
        font-family: "YdestreetB", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 160%;
      }
      .content {
        font-family: "ONE-Mobile-Regular", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 160%;
        margin-top: 32px;
        margin-bottom: 48px;
      }
      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        background: #007bc7;
        color: #fff;
        font-family: "GmarketSans";
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%; /* 13.2px */
        box-shadow: 4px 4px 0px 0px #000;
        transition: all 0.2s;
        &:active {
          background: #005c95;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
        }
      }
    }
  }
  .quiz-title {
    color: #000;
    text-align: center;
    font-family: "YdestreetB", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 36.4px */
  }
  .quiz-sub {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-family: "GmarketSans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 172%; /* 22.36px */
  }
  .button-inner {
    position: relative;
    margin-top: 245px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 85%;
      left: 40%;
      width: 80px;
      height: 91px;
      background-image: url("../images/section_4_5.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      animation: tossing 2s infinite linear;
    }
    img {
      position: relative;
      z-index: 1;
    }
  }
  .custom-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 40px;
    border: 1px solid #000;
    background: #81c2e8;
    color: #fcfcfc;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    font-family: "Krona One", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      border-radius: inherit;
      transform: translate3d(3px, 3px, -1px);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:active {
      box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5),
        inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
      transform: translate(3px, 3px);
      background: #6ca5c7;
      &::before {
        transform: translate3d(0, 0, -1px);
      }
    }
    img {
      width: 111px;
    }
  }
}

@keyframes tossing {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.section_5 {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #e1f4ff;
  text-align: center;
  .top {
    width: 100%;
    .right {
      margin-top: 20px;
      background-image: url("../images/section_5_5.svg");
      background-size: 178px 162px;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      .poa {
        width: 140px;
        margin-left: 30px;
        animation: shake-vertical 8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
          infinite both;
      }
    }
    .left {
      width: 100%;
    }
    .title {
      width: 284px;
      margin: 0 auto;
      font-family: "YdestreetB", sans-serif;
      font-size: 56px;
      font-weight: 700;
      img {
        width: 100%;
      }
    }
    .description {
      margin-top: 25px;
      color: #000;
      text-align: center;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 19.2px */
      span {
        display: inline-block;
        margin-top: 8px;
        color: #7c7c7c;
        font-family: "GmarketSans";
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 12.8px */
      }
    }
    .custom-btn {
      margin-top: 22px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #000;
      background: #1c7ced;
      color: #fff;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 800;
      line-height: 160%; /* 19.2px */
      &:active {
        background: #175fb4;
      }
    }
  }
  .swiper {
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-slide {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      overflow: hidden;
      border-radius: 4px;
    }
    &-inner {
      position: relative;
      max-width: 1500px;
      margin: 0 auto;
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 10px;
      }
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        left: 10px;
      }
    }
  }
}

.section_6 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/section_6_3_m.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  .inner {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    text-align: center;
    .description {
      margin-top: 20px;
      color: #000;
      text-align: center;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 19.2px */
    }
  }
  .swiper {
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
    .poa_2 {
      position: absolute;
      bottom: -144px;
      left: -19px;
      z-index: 1;
    }
    .poa {
      width: 200px;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
    .swiper-wrapper {
      height: auto;
    }
    .swiper-slide {
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .swiper-button-container {
      .swiper-button-next,
      .swiper-button-prev {
        width: 30px;
        height: 30px;
      }
      .swiper-button-next {
        right: -20px;
      }
      .swiper-button-prev {
        left: -20px;
      }
    }
  }
  .right {
    .desc {
      margin-top: 35px;
      color: #858585;
      font-family: "ONE-Mobile-Regular", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }
    .method {
      margin-top: 85px;
      padding-left: 16px;
      padding-right: 16px;
      img {
        width: 100%;
      }
      &-title {
        margin-left: 18px;
        font-family: "ONE-Mobile-Regular", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 160%;
      }
      &-list {
        margin-top: 3px;
        padding: 20px 18px;
        border-radius: 15px;
        border: 1px solid #000;
        background: #fff;
        box-shadow: 3px 3px 0px #3a35f5;
      }
      &-item {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 14px;
        font-family: "ONE-Mobile-Regular", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 160%;
        &:first-child {
          margin-top: 0;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #3a35f5;
        }
      }
      .tag {
        display: flex;
        gap: 16px;
        margin-top: 10px;
        span {
          padding: 10px 24px;
          border-radius: 74px;
          background: #3a35f5;
          color: #fff;
          font-family: "ONE-Mobile-Regular", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
  }
  .custom-btn {
    margin-top: 24px;
    display: inline-flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #000;
    background: #3a35f5;
    color: #fff;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%; /* 19.2px */
  }
}
.section_7 {
  padding-top: 125px;
  padding-bottom: 55px;
  padding-left: 16px;
  padding-right: 16px;
  background-image: url("../images/section_7_1_m.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .inner {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #fff;
    .title {
      color: #000;
      text-align: center;
      font-family: "yg-jalnan";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 26px */
    }
  }
  .certify-form {
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .form-row {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 4px;
      width: 100%;

      label {
        width: 130px;
        margin-left: 15px;
        color: #000;
        font-family: "GmarketSans";
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 14.3px */
        span {
          position: relative;
          &::after {
            position: absolute;
            top: -2px;
            right: -7px;
            content: "*";
            color: #fc1100;
            font-family: "GmarketSans";
            font-size: 11px;
            font-style: normal;
            font-weight: 800;
            line-height: 100%; /* 11px */
          }
        }
      }

      input {
        width: 100%;
        height: 30px;
        padding: 0 15px;
        color: #000;
        font-family: "GmarketSans";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 15.6px */
        border-radius: 999px;
        border: 1px solid #000;
        background: #fff;
        &:focus {
          border: 1px solid #0f927a;
          outline: none;
        }
        &::placeholder {
          color: #b5b5b5;
        }
      }
      .input-container {
        width: 100%;
        position: relative;
        .error {
          position: absolute;
          top: calc(100% + 8px);
          left: 15px;
          color: #fc1100;
          font-family: "GmarketSans";
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 11px */
        }
      }
    }
    .agree-row {
      border-top: 1px solid #000;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
    .agree-checkboxes {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }
    .agree-item {
      display: flex;
      flex-direction: column;
      gap: 4px;
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      & + .agree-item {
        margin-bottom: 30px;
      }
    }
    .agree-item-container {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    .agree-item input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin: 0;
      accent-color: #3a35f5;
      margin-right: 6px;
    }
    .agree-item label {
      width: auto;
      margin-left: 0;
      color: #000;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
    }
    .agree-item .terms-link {
      display: inline-flex;
      color: #000;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 15.6px */
      text-decoration: underline;
    }
    .agree-item .error {
      color: #fc1100;
      font-family: "GmarketSans";
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 11px */
      display: block;
    }
    .custom-btn {
      display: inline-flex;
      margin: 0 auto;
      display: inline-flex;
      padding: 10px 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      border: 1px solid #000;
      background: #00a856;
      color: #fff;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 19.2px */
      &:active {
        background: #018c48;
      }
    }
  }
}
.section_8 {
  img {
    max-width: 100%;
  }
}
.section_9 {
  padding: 50px 0;
  background: #f0f8e8;
  .title {
    color: #000;
    font-family: "YdestreetB", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
  }
  .faq-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .faq-tab-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    padding: 0 16px;
  }
  .faq-tab-panel {
    width: 100%;
    padding: 32px 24px 0;
    font-size: 17px;
    font-family: "GmarketSans";
    color: #222;
    min-height: 120px;
    box-sizing: border-box;
  }
  .faq-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .faq-accordion-item {
    border-radius: 18px;
    border: 1px solid #53b18c;
    background: #fcfcfc;
    overflow: hidden;
  }
  .faq-accordion-trigger {
    width: 100%;
    padding: 15px;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    color: #000;
    font-family: "GmarketSans";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 16.9px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: color 0.2s;
    img {
      width: 24px;
    }
    & > span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .faq-accordion-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
    background-image: url("../images/section_9_4.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .faq-accordion-trigger[aria-expanded="true"] .faq-accordion-icon {
    transform: rotate(180deg);
  }
  .faq-accordion-content {
    padding: 15px 15px 40px 15px;
    color: #000;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 19.2px */
    border-top: 1px solid #53b18c;
    animation: accordion-fadein 0.2s;
    &-inner {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 24px;
      }
      b {
        img {
          width: 14px;
        }
      }
    }
  }
  @keyframes accordion-fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .custom-btn {
    display: inline-flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex: 1;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
    &.active {
      background: #4eaf85;
      color: #fff;
      box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5),
        inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
      transform: translate(2px, 2px);
      &::before {
        transform: translate3d(0, 0, -1px);
      }
    }
    span {
      display: block;
      margin-top: 3px;
    }
  }
}
.section_10 {
  padding: 40px 0 50px;
  background-image: url("../images/section_10_1_m.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .title {
    color: #000;
    text-align: center;
    font-family: "JalnanGothic";
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
  }
  .sub-title {
    margin-top: 16px;
    text-align: center;
    font-family: "GmarketSans";
    font-size: 10px;
    color: #000;
    text-align: center;
    font-weight: 400;
    line-height: 140%;
    div + div {
      margin-top: 4px;
    }
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 24px;

    .right {
      width: 328px;
      & > img {
        width: 100%;
      }
      .button {
        gap: 8px;
        color: #fff;
        text-align: center;
        font-family: "GmarketSans";
        font-size: 14px;
        font-weight: 800;
        line-height: 150%;
        &-wrap {
          width: 328px;
          margin-top: 30px;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .left {
      width: 100%;
      padding: 0 16px;
      .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 328px;
        height: 410px;
        margin: 0 auto;
        padding-top: 145px;
        background-image: url("../images/section_10_16_m.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 4px 4px 29.9px 0px rgba(0, 0, 0, 0.07);
      }
      .name {
        display: flex;
        align-items: center;
        gap: 16px;
        color: #1c75bc;
        font-family: Pretendard;
        font-size: 12px;
        font-weight: 700;
        line-height: 120%;
        span {
          color: #000;
          font-size: 16px;
          font-weight: 700;
          line-height: 120%;
        }
      }
      .desc {
        margin-top: 6px;
        padding-top: 8px;
        border-top: 1px solid #000;
        text-align: center;
        font-family: Pretendard;
        font-size: 10px;
        font-weight: 500;
        line-height: 120%;
      }
      .date {
        margin-top: 5px;
        color: #a2a2a2;
        font-family: Pretendard;
        font-size: 11px;
        font-weight: 500;
        line-height: 130%;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 12px;
        .item {
          display: flex;
          gap: 10px;
          &:nth-child(1) {
            .icon {
              img {
                width: 22px;
                height: 21px;
              }
            }
          }
          &:nth-child(2) {
            .icon {
              img {
                width: 22px;
                height: 23px;
              }
            }
          }
          &:nth-child(3) {
            .icon {
              img {
                width: 22px;
                height: 23px;
              }
            }
          }
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 8.005px;
            border: 1.367px solid #1363df;
            background: #fcfcfc;
            img {
              width: 22px;
              height: 22px;
            }
          }
          .text {
            &-1 {
              color: #000;
              text-align: center;
              font-family: Pretendard;
              font-size: 10px;
              font-weight: 700;
              line-height: 130%;
            }
            &-2 {
              display: flex;
              align-items: center;
              margin-top: 4px;
              color: #1363df;
              text-align: center;
              font-family: "YdestreetB";
              font-size: 13px;
              font-weight: 700;
              line-height: 130%;

              span {
                margin-left: 2px;
                margin-top: 1px;
                color: #1363df;
                font-size: 8px;
                font-weight: 700;
                line-height: 120%;
              }
            }
          }
        }
      }
    }
    .button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      flex: 1;
      height: 47px;
      border-radius: 12px;
      background: #005bac;
      color: #fff;
      font-family: "GmarketSans";
      font-size: 12px;
      font-weight: 800;
      line-height: 160%;
      &.white {
        background: #fff;
        color: #005bac;
        border: 1px solid #005bac;
      }
      &-wrap {
        display: flex;
        gap: 24px;
        width: 300px;
        margin: 20px auto 0;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  width: 320px;
  padding: 0;
  animation: modalShow 0.2s;

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 46px;
    background: #0056a6;
  }
  .modal-header h2 {
    color: #fff;
    text-align: center;
    font-family: "GmarketSans";
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
  }
  .modal-close {
    position: absolute;
    top: 4px;
    right: 20px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: #fff;
  }
  .modal-body {
    padding: 25px 25px 30px;
  }
  .modal-body-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 15.6px */
  }
  .modal-body ol {
    margin: 0;
    li {
      color: #000;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      & + li {
        margin-top: 5px;
      }
      span {
        font-weight: 800;
      }
    }
  }
  .modal-footer {
    padding-bottom: 30px;
    text-align: center;
  }
  .modal-footer .modal-close {
    position: relative;
    inset: 0;
    background: #0056a6;
    color: #fff;
    border-radius: 4px;
    padding: 5px 16px;
    border: none;
    margin: 0 auto;
    display: inline-block;
    color: #fff;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 14.4px */
  }
}
@keyframes modalShow {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert-modal-content {
  background: #fff;
  border: 1px solid #222;
  border-radius: 14px;
  width: 320px;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: modalShow 0.2s;

  .alert-modal-body {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    padding: 45px 22px 0;
  }
  .alert-modal-icon {
    width: 20px;
    img {
      width: 100%;
    }
  }
  .alert-modal-message {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #000;
    font-family: "GmarketSans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
  }
  .alert-modal-footer {
    padding: 25px 24px 16px;
    display: flex;
    justify-content: flex-end;
    .modal-close {
      position: relative;
      inset: 0;
      border-radius: 4px;
      background: #005bac;
      color: #fff;
      font-family: "GmarketSans";
      font-size: 12px;
      font-style: normal;
      font-weight: 800;
      line-height: 120%; /* 14.4px */
    }
  }
  .alert-modal-btn {
    background: #0056a6;
    color: #fff;
    border-radius: 6px;
    padding: 8px 28px;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.15s;
  }
  .alert-modal-btn:active {
    background: #003e7a;
  }
  .modal-close {
    position: absolute;
    top: 9px;
    right: 14px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #000;
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
