@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ONE-Mobile-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YdestreetB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JalnanGothic";
  src: url("/fonts/JalnanGothicTTF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
}

.custom-btn {
  position: relative;
  padding: 18px 32px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 18px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.custom-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: inherit;
  -webkit-transform: translate3d(5px, 5px, -1px);
          transform: translate3d(5px, 5px, -1px);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.custom-btn:active {
  -webkit-box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5), inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5), inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.custom-btn:active::before {
  -webkit-transform: translate3d(0, 0, -1px);
          transform: translate3d(0, 0, -1px);
}

.custom-btn-2::before {
  background: #fff;
  border: 2px solid #000;
}

.swiper-wrapper {
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.swiper-button-next img,
.swiper-button-prev img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
}

.section .title {
  font-family: "YdestreetB", sans-serif;
}

.section_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 1173px;
  padding-top: 90px;
  background-image: url("../images/section_1_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.section_1 .text {
  margin-top: 22px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
}

.section_1 .text_sub {
  padding: 12px 56px;
  font-family: "GmarketSans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  border-radius: 50px;
  border: 1px solid #000;
  background: #fff;
}

.section_1 .poa {
  position: absolute;
}

.section_1 .poa_3 {
  top: 160px;
  right: 100px;
}

.section_1 .poa_3 .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  position: absolute;
  left: 50%;
  top: 73%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "PartialSansKR-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
}

.section_1 .poa_3 .score span {
  color: #00a856;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2.4px;
}

.section_1 .poa_4 {
  bottom: 165px;
  right: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section_1 .poa_4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section_2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fcfcfc;
  text-align: center;
}

.section_2 .text_1 {
  margin-top: 25px;
  margin-bottom: 35px;
  color: #000;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 172%;
}

.section_2 .text-2 {
  text-align: center;
  font-family: "GmarketSans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 172%;
}

.section_2 .text-2 span {
  font-size: 24px;
  font-weight: 900;
  line-height: 172%;
}

.section_2 .gauge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 35px;
  font-family: "YdestreetB", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

.section_2 .gauge .gauge-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 760px;
  height: 45px;
  border-radius: 999px;
  border: 1px solid #000;
  background: #fafafa;
}

.section_2 .gauge .gauge-bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 1px solid #000;
}

.section_2 .bg-img {
  width: 1680px;
  height: 920px;
  margin: 0 auto;
  padding-top: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_2 .bg-img-1 {
  background-image: url("../images/section_2_1.svg");
}

.section_2 .bg-img-1 .gauge-bar {
  background: #6e5a3d;
}

.section_2 .bg-img-2 {
  background-image: url("../images/section_2_2.svg");
}

.section_2 .bg-img-2 .gauge-bar {
  background: #80a97d;
}

.section_2 .bg-img-3 {
  background-image: url("../images/section_2_3.svg");
}

.section_2 .bg-img-3 .gauge-bar {
  background: #81c2e8;
}

.section_2 .bg-img-4 {
  background-image: url("../images/section_2_4.svg");
}

.section_2 .bg-img-4 .gauge-bar {
  background: #00a856;
}

.section_2 .bg-img .box {
  width: 1160px;
  margin: 0 auto;
  padding: 36px 0 60px;
  border-radius: 18px;
  border: 2px solid #000;
  opacity: 0.8;
  background: #fcfcfc;
}

.section_2 img {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.section_2 .img-wrap {
  position: relative;
  width: 594px;
  margin: 0 auto;
}

.section_2 .img-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 140px;
  left: -8px;
  width: 0;
  height: 75px;
  background-color: #ffe267;
  -webkit-transition: width 1s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}

.section_2 .aos-animate.img-wrap::before {
  width: 235px;
}

.section_3 {
  padding-top: 70px;
  background-image: url("../images/section_3_17.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.section_3 .donate-title {
  margin-bottom: 48px;
  font-family: "YdestreetB", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.section_3 .donate-title-2 {
  margin-top: 100px;
  margin-bottom: 55px;
}

.section_3 .donate-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.section_3 .donate-notice {
  width: 730px;
  margin: 50px auto 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.section_3 .notice-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.section_3 .donate-categories-swiper {
  width: 100%;
  margin-bottom: 80px;
}

.section_3 .custom-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 24px 115px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 2px solid #000;
  background: #93cff2;
  color: #000;
  font-family: "GmarketSans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.section_3 .custom-btn:active {
  background: #6ca5c7;
}

.section_4 {
  height: 1080px;
  padding-top: 50px;
  background-image: url("../images/section_4_1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.section_4 .quiz-step {
  width: 1170px;
  height: 640px;
  margin: 0 auto;
  border-radius: 54.844px;
  border: 3px solid #000;
  -webkit-box-shadow: 10px 10px 0px #000;
          box-shadow: 10px 10px 0px #000;
}

.section_4 .quiz-step-1 {
  position: relative;
  background: #fff2af;
  background-image: url("../images/section_4_2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffec8e;
}

.section_4 .quiz-step-2 {
  padding: 60px 60px 50px;
  background-color: #fff;
}

.section_4 .quiz-step-2 .title {
  color: #000;
  font-family: "YdestreetB", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.section_4 .quiz-step-2 .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin-top: 40px;
}

.section_4 .quiz-step-2 .content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 490px;
  height: 200px;
  color: #000;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  border-radius: 20px;
  border: 1px solid #000;
  background: #fdf6da;
  -webkit-box-shadow: 5px 5px 0px 0px #000;
          box-shadow: 5px 5px 0px 0px #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section_4 .quiz-step-2 .content .item:active {
  background: #01aa71;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65) inset;
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.65) inset;
  color: #fff;
}

.section_4 .quiz-step-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.section_4 .quiz-step-3 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-family: "YdestreetB", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 160%;
}

.section_4 .quiz-step-3 .content {
  margin-top: 56px;
  margin-bottom: 46px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

.section_4 .quiz-step-3 button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #005bac;
  color: #eefcff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  -webkit-box-shadow: 4px 4px 0px 0px #000;
          box-shadow: 4px 4px 0px 0px #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section_4 .quiz-step-3 button:active {
  background: #004e94;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
}

.section_4 .quiz-step-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.section_4 .quiz-step-4 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-family: "YdestreetB", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 160%;
}

.section_4 .quiz-step-4 .content {
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  margin-top: 56px;
  margin-bottom: 46px;
}

.section_4 .quiz-step-4 button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #d5f0ff;
  color: #1363df;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  -webkit-box-shadow: 4px 4px 0px 0px #000;
          box-shadow: 4px 4px 0px 0px #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section_4 .quiz-step-4 button:active {
  background: #aec7d6;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
}

.section_4 .quiz-step-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.section_4 .quiz-step-5 .title {
  font-family: "YdestreetB", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 160%;
}

.section_4 .quiz-step-5 .content {
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  margin-top: 32px;
  margin-bottom: 48px;
}

.section_4 .quiz-step-5 button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 1px solid #000;
  background: #007bc7;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  -webkit-box-shadow: 4px 4px 0px 0px #000;
          box-shadow: 4px 4px 0px 0px #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section_4 .quiz-step-5 button:active {
  background: #005c95;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
          box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.45) inset;
}

.section_4 .quiz-title {
  font-family: "YdestreetB", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

.section_4 .quiz-sub {
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 40px;
}

.section_4 .button-inner {
  position: relative;
  margin-top: 415px;
}

.section_4 .button-inner::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 85%;
  left: 40%;
  width: 200px;
  height: 228px;
  background-image: url("../images/section_4_5.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: tossing 2s infinite linear;
          animation: tossing 2s infinite linear;
}

.section_4 .button-inner img {
  position: relative;
  z-index: 1;
}

.section_4 .custom-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  padding: 35px 117px;
  border: 3px solid #000;
  background: #81c2e8;
  color: #fcfcfc;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  font-family: "Krona One", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
}

.section_4 .custom-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: inherit;
  -webkit-transform: translate3d(10px, 10px, -1px);
          transform: translate3d(10px, 10px, -1px);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.section_4 .custom-btn:active {
  -webkit-box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5), inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5), inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  background: #6ca5c7;
}

.section_4 .custom-btn:active::before {
  -webkit-transform: translate3d(0, 0, -1px);
          transform: translate3d(0, 0, -1px);
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes tossing {
  0% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

.section_5 {
  padding-bottom: 58px;
  background-color: #e1f4ff;
}

.section_5 .top {
  width: 1170px;
  margin: 0 auto;
  padding: 60px 0 70px;
  background-image: url("../images/section_5_3.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}

.section_5 .top .title {
  width: 500px;
  font-family: "YdestreetB", sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.section_5 .top .description {
  margin-top: 25px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

.section_5 .top .description span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  color: #7c7c7c;
  font-family: "ONE-Mobile-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.section_5 .top .custom-btn {
  margin-top: 42px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 21px 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 2px solid #000;
  background: #1c7ced;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

.section_5 .top .custom-btn:active {
  background: #175fb4;
}

.section_5 .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_5 .swiper-inner {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.section_5 .swiper-inner .swiper-button-next,
.section_5 .swiper-inner .swiper-rtl .swiper-button-prev {
  right: -30px;
}

.section_5 .swiper-inner .swiper-button-prev,
.section_5 .swiper-inner .swiper-rtl .swiper-button-next {
  left: -30px;
}

.section_6 {
  height: 1080px;
  padding-top: 85px;
  background-image: url("../images/section_6_3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.section_6 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  text-align: left;
}

.section_6 .swiper {
  width: 520px;
  margin-left: 0;
  margin-top: 90px;
}

.section_6 .swiper .poa {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.section_6 .swiper .swiper-wrapper {
  height: auto;
}

.section_6 .swiper .swiper-slide {
  border-radius: 40px;
  overflow: hidden;
}

.section_6 .swiper .swiper-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12px;
}

.section_6 .swiper .swiper-button-container .swiper-pagination-fraction {
  position: relative;
  inset: 0;
  width: 110px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.section_6 .swiper .swiper-button-container .swiper-pagination-current {
  color: #3a35f5;
}

.section_6 .swiper .swiper-button-container .swiper-button-next,
.section_6 .swiper .swiper-button-container .swiper-button-prev {
  position: relative;
  inset: 0;
  width: 48px;
  height: 48px;
  margin: 0;
}

.section_6 .right .description {
  margin-top: 20px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
}

.section_6 .right .description span {
  font-weight: 700;
}

.section_6 .right .desc {
  margin-top: 35px;
  color: #858585;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.section_6 .right .method {
  margin-top: 50px;
}

.section_6 .right .method img {
  width: 100%;
}

.section_6 .right .method-title {
  margin-left: 18px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

.section_6 .right .method-list {
  margin-top: 3px;
  padding: 20px 18px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #fff;
  -webkit-box-shadow: 3px 3px 0px #3a35f5;
          box-shadow: 3px 3px 0px #3a35f5;
}

.section_6 .right .method-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-top: 14px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.section_6 .right .method-item:first-child {
  margin-top: 0;
}

.section_6 .right .method-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #3a35f5;
}

.section_6 .right .method .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.section_6 .right .method .tag span {
  padding: 10px 24px;
  border-radius: 74px;
  background: #3a35f5;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.section_6 .custom-btn {
  margin-top: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 21px 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 2px solid #000;
  background: #3a35f5;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

.section_7 {
  padding-top: 295px;
  padding-bottom: 80px;
  background-image: url("../images/section_7_1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_7 .inner {
  width: 1180px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
  border: 2px solid #000;
  background: #fff;
}

.section_7 .inner .title {
  text-align: center;
  font-family: "yg-jalnan", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
}

.section_7 .certify-form {
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
}

.section_7 .certify-form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
  width: 100%;
}

.section_7 .certify-form .form-row label {
  width: 130px;
  text-align: center;
  font-family: "GmarketSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.section_7 .certify-form .form-row label span {
  position: relative;
}

.section_7 .certify-form .form-row label span::after {
  position: absolute;
  top: -5px;
  right: -14px;
  content: "*";
  color: #fc1100;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
}

.section_7 .certify-form .form-row input {
  width: 100%;
  height: 62px;
  padding: 0 44px;
  font-size: 22px;
  font-family: "GmarketSans";
  line-height: 130%;
  border-radius: 999px;
  border: 2px solid #000;
  background: #fff;
}

.section_7 .certify-form .form-row input:focus {
  border: 2px solid #0f927a;
  outline: none;
}

.section_7 .certify-form .form-row input::-webkit-input-placeholder {
  color: #b5b5b5;
  font-family: "GmarketSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.section_7 .certify-form .form-row input:-ms-input-placeholder {
  color: #b5b5b5;
  font-family: "GmarketSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.section_7 .certify-form .form-row input::-ms-input-placeholder {
  color: #b5b5b5;
  font-family: "GmarketSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.section_7 .certify-form .form-row input::placeholder {
  color: #b5b5b5;
  font-family: "GmarketSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.section_7 .certify-form .form-row .input-container {
  width: 100%;
  position: relative;
}

.section_7 .certify-form .form-row .input-container .error {
  position: absolute;
  top: calc(100% + 8px);
  left: 44px;
  color: #fc1100;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.section_7 .certify-form .agree-row {
  border-top: 1px solid #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  margin-top: 12px;
  padding-top: 35px;
  padding-left: 40px;
  padding-right: 60px;
}

.section_7 .certify-form .agree-checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
}

.section_7 .certify-form .agree-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  position: relative;
}

.section_7 .certify-form .agree-item + .agree-item {
  margin-bottom: 30px;
}

.section_7 .certify-form .agree-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_7 .certify-form .agree-item input[type="checkbox"] {
  width: 26px;
  height: 26px;
  margin: 0;
  accent-color: #3a35f5;
  margin-right: 6px;
}

.section_7 .certify-form .agree-item label {
  width: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.section_7 .certify-form .agree-item .terms-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  border-bottom: 1px solid #000;
}

.section_7 .certify-form .agree-item .error {
  position: absolute;
  top: calc(100% + 8px);
  margin-left: 32px;
  color: #fc1100;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 2px;
  display: block;
}

.section_7 .certify-form .custom-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 230px;
  margin: 0 auto;
  padding: 17px 66px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 18px;
  border: 2px solid #000;
  background: #00a856;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
}

.section_7 .certify-form .custom-btn:active {
  background: #018c48;
}

.section_8 img {
  max-width: 100%;
}

.section_9 {
  padding: 60px 0;
  background: #f0f8e8;
}

.section_9 .title {
  font-family: "YdestreetB", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

.section_9 .faq-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.section_9 .faq-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  margin-bottom: 32px;
}

.section_9 .faq-tab-panel {
  width: 100%;
  max-width: 1140px;
  border-radius: 0 0 24px 24px;
  padding: 32px 24px;
  font-size: 17px;
  font-family: "GmarketSans";
  color: #222;
  min-height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_9 .faq-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.section_9 .faq-accordion-item {
  border-radius: 38px;
  border: 2px solid #53b18c;
  background: #fcfcfc;
  overflow: hidden;
}

.section_9 .faq-accordion-trigger {
  width: 100%;
  padding: 40px 32px;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  color: #000;
  font-family: "GmarketSans";
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.section_9 .faq-accordion-trigger > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.section_9 .faq-accordion-icon {
  width: 48px;
  height: 48px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background-image: url("../images/section_9_4.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section_9 .faq-accordion-trigger[aria-expanded="true"] .faq-accordion-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section_9 .faq-accordion-content {
  padding: 35px 32px;
  font-size: 21px;
  font-weight: 500;
  border-top: 2px solid #53b18c;
  line-height: 160%;
  -webkit-animation: accordion-fadein 0.2s;
          animation: accordion-fadein 0.2s;
}

.section_9 .faq-accordion-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

@-webkit-keyframes accordion-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes accordion-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section_9 .custom-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 138px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.section_9 .custom-btn.active {
  background: #4eaf85;
  color: #fff;
  -webkit-box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5), inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 4px 0 4px -2px rgba(0, 0, 0, 0.5), inset 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.section_9 .custom-btn.active::before {
  -webkit-transform: translate3d(0, 0, -1px);
          transform: translate3d(0, 0, -1px);
}

.section_10 {
  padding: 80px 0 90px;
  background-image: url("../images/section_10_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_10 .inner {
  width: 1460px;
  margin: 0 auto;
}

.section_10 .title {
  text-align: center;
  font-family: "JalnanGothic";
  font-size: 56px;
  font-weight: 400;
  line-height: 120%;
}

.section_10 .sub-title {
  margin-top: 24px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.section_10 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 300px;
  margin-top: 55px;
}

.section_10 .content .left {
  width: 560px;
}

.section_10 .content .left .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
  padding: 40px;
  padding-top: 250px;
  border-radius: 50px;
  background-image: url("../images/section_10_16.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 4px 4px 29.9px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 4px 4px 29.9px 0px rgba(0, 0, 0, 0.07);
}

.section_10 .content .left .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: #1c75bc;
  font-family: Pretendard;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.section_10 .content .left .name span {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
}

.section_10 .content .left .desc {
  margin-top: 8px;
  padding-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.section_10 .content .left .date {
  margin-top: 20px;
  color: #a2a2a2;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.section_10 .content .left .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 24px;
}

.section_10 .content .left .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section_10 .content .left .list .item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 13.667px;
  border: 1.367px solid #1363df;
  background: #fcfcfc;
}

.section_10 .content .left .list .item .text-1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.section_10 .content .left .list .item .text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
  color: #1363df;
  font-family: "YdestreetB", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
}

.section_10 .content .left .list .item .text-2 span {
  margin-top: 3px;
  font-family: "YdestreetB", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 120%;
}

.section_10 .content .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 72px;
  border-radius: 18px;
  color: #fff;
  background: #005bac;
  font-family: "GmarketSans";
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

.section_10 .content .button.white {
  background: #fff;
  color: #005bac;
  border: 2px solid #005bac;
}

.section_10 .content .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.modal-overlay {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content {
  background: #fff;
  border-radius: 30px;
  width: 720px;
  padding: 0;
  -webkit-animation: modalShow 0.2s;
          animation: modalShow 0.2s;
}

.modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100px;
  background: #0056a6;
  border-radius: 20px 20px 0 0;
}

.modal-content .modal-header h2 {
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.modal-content .modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}

.modal-content .modal-body {
  padding: 70px 100px 90px;
}

.modal-content .modal-body-title {
  font-weight: bold;
  margin-bottom: 25px;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}

.modal-content .modal-body ol {
  margin: 0;
  font-size: 1rem;
  color: #222;
}

.modal-content .modal-body ol li {
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.modal-content .modal-body ol li + li {
  margin-top: 15px;
}

.modal-content .modal-body ol li span {
  font-weight: 700;
}

.modal-content .modal-footer {
  padding-bottom: 70px;
  text-align: center;
}

.modal-content .modal-footer .modal-close {
  position: relative;
  inset: 0;
  background: #0056a6;
  color: #fff;
  border-radius: 8px;
  padding: 10px 30px;
  border: none;
  margin: 0 auto;
  display: inline-block;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

@-webkit-keyframes modalShow {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalShow {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.alert-modal-content {
  background: #fff;
  border: 2px solid #222;
  border-radius: 24px;
  width: 700px;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: modalShow 0.2s;
          animation: modalShow 0.2s;
}

.alert-modal-content .alert-modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  padding: 100px 50px 0;
}

.alert-modal-content .alert-modal-message {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}

.alert-modal-content .alert-modal-footer {
  padding: 70px 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.alert-modal-content .alert-modal-footer .modal-close {
  position: relative;
  inset: 0;
  border-radius: 4px;
  background: #005bac;
  color: #fff;
  font-family: "ONE-Mobile-Regular", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.alert-modal-content .alert-modal-btn {
  background: #0056a6;
  color: #fff;
  border-radius: 6px;
  padding: 8px 28px;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

.alert-modal-content .alert-modal-btn:active {
  background: #003e7a;
}

.alert-modal-content .modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #000;
}
/*# sourceMappingURL=style.css.map */